:host {
  display: block;
  /* Estilos para el botón */
  button {
    background-color:#C12026;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgb(168, 0, 0);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
  }
  button:hover {
    background-color: #ff3131;
    border-color: yellow;
  }
}
