:host {
  display: block;
}
header {
  background-color: #c12026;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
  }

  nav {
    margin-top: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
