:host {
  display: block;
  body {
    background: url("https://support.heberjahiz.com/hc/article_attachments/21013076295570")
      no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }
}
