:host {
  display: block;
  width: 100%;
  height: 100vh;
}

body {
  background: url("images/404NotFound.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100vh;
}